@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    user-select: none;
}

/* HEADER - index */

body{
    background-color: #f5f5f5;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    transition: all 0.3s ease;
}

.navbar a:hover{
    color: #9d8aad;
    transition: all 0.5s ease;
}

.navbar a{
    color:#000;
    gap:10px;
    padding: 8px;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 20px;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.apresentacao img{
    width: 6%;
    padding: 20px;
}

.boas-vindas{
    align-items: center;
    padding: 80px;
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-rows: auto;
    gap: 90px;
    justify-content: center;
}

.titulo{
    margin-bottom: 20px;
}

.texto{
    text-align: justify;
    width: 370px;
    font-size: 20px;
}

.descricao{
    display: flex;
    flex-direction: column;
}

.boas-vindas h1{
    font-size: 35px;
}

.boas-vindas h3{
    color: #1a0f0f;
    font-size: 22px;
}

.boas-vindas img{
    width: 303px;
    height: 370px;
    border-radius: 60%;
}

/* BODY - cards */

.main-conteiner h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    /* text-decoration: underline; */
}

/* estilo do card */

.conteiner-atvd{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    
}

.card {
    width: 300px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    transition: transform 0.3s ease, box-shadow 1.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagem do card */
  .card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  /* Corpo do card */
  .card-body {
    padding: 15px;
  }
  
  /* título do card */
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  /* texto */
  .card-text {
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  /* link  */
  .card-link {
    text-decoration: none;
    color: #6b4cd0;
    font-weight: bold;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
/* FOOTER */

.container{
    max-width: 900px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #776883;
    padding: 50px 0;
}

.footer-col{
    left: 100px;
    right: 100px;
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute; 
    left: 0; 
    bottom: -10px; 
    height: 2px; 
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;  
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FFFFFF ;
    padding-left: 8px;
}

.footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,2555,0.2);
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFF;
    transition: all 0.5s ease;
}

.footer-col .social a:hover{
    color: #24262b;
    background-color: #FFF;
}

.footer-col p{
    color: white;
    font-size: 16px;
}

.formulario{
    display: flex;
    flex-direction: column;    

}

.formulario_titulo{
    color:#000;
    font-size: 24px;

}
.formulario_subtitulo{
    color:#000;
    font-size: 24px;
    
}