.conteiner{
    position: relative;
    width: 450px;
    margin: 30px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-color: #FFFF;
}

.conteiner p{
    font-family: 'Poppins';
    font-size: 14px;
    padding: 10px;
}

.conteiner h3{
    font-family: 'Poppins';
    font-size: 16px;
    padding: 10px;
    justify-content: center;
    display: flex;
}

figure{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}