.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AE759F;
    height: 80px;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: end;
}

p{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    display: flex;
    
    
}

