.modalback{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /*profundidade*/
}

.modalConteiner{
    background-color: rgb(246, 255, 248);
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 90%;
    max-height: 95%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.ModalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.ModalHeader h2{
    color: rgb(199,184,100);
    text-align: center;
    flex-grow: 1;
}

.imgDetalhes{
    display: flex;
    gap: 20px;
}

.imgModal{
    width: 40%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.movieDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.movieDetails li{
    font-family: 'Poppins';
    font-size: 80px;
}

button{
    background-color: rgb(70,70,70);
    border-radius: 50px; 
    color: aliceblue;
    font-size: 18px;
    width: 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}