.conteiner{
    display: flex;
    justify-content: center;
    background-color: #FFFF;
    padding: 5px;
    color: black;
    height: 50px;
}

ul{
    list-style: none;
    margin-right: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

li{
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    gap: 2px;
    font-family: 'Poppins';
}

span{
    display: flex;
    gap: 10px;
}